# Default ignored files
/shelf/
/workspace.xml
# Datasource local storage ignored files
/../../../../../../../../../../../:\Users\User\Desktop\Studium-OTH\Lernplan\Semester-4\Java_AD_Kurs\Code_AD\Rekursion\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
